<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>DBAccess.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>branchProductRetrieve</servlet-name>
        <servlet-class>DBAccess.branchProductRetrieve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allBranchesRetrieve</servlet-name>
        <servlet-class>DBAccess.allBranchesRetrieve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUpload</servlet-name>
        <servlet-class>DBAccess.ImageUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageFileRetrieve</servlet-name>
        <servlet-class>DBAccess.ImageRetrieve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>DBAccess.addProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>branchProductRetrieve</servlet-name>
        <url-pattern>/branchProductRetrieve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allBranchesRetrieve</servlet-name>
        <url-pattern>/allBranchesRetrieve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUpload</servlet-name>
        <url-pattern>/ImageUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageFileRetrieve</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>productRetrieve</servlet-name>
        <servlet-class>DBAccess.productRetrieve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allProductsRetrieve</servlet-name>
        <servlet-class>DBAccess.allProductsRetrieve</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productRetrieve</servlet-name>
        <url-pattern>/productRetrieve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allProductsRetrieve</servlet-name>
        <url-pattern>/allProductsRetrieve</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>jdbcDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>regular</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>SIDNEEROX</param-value>
    </context-param>
    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/sidnee</param-value>
    </context-param>
</web-app>
