@font-face{
    font-family: Hattori Hanzo;
    src: url("/css/fonts/Hattori_Hanzo.otf") 
        format("opentype");
}

@font-face{
    font-family: Nevis;
    src: url("/css/fonts/nevis.ttf") 
        format("truetype");
}
/*color of icon bar*/
.icon-bar{
    background-color: #fff !important;
}
.navbar-toggle{
	border: 1px solid #E4717A !important;
}

/*navbar style*/
.navbar-fixed-top{
	background-color: #E4717A;
	margin-bottom: 0;
	letter-spacing: 0.3px;
	border: 0;
	font-size: 1.2em;
        
}
/*adjusting height of the brand logo*/
.navbar-brand{
    font-family: Nevis;
    font-size: 1.7em;
    color: #fff;
    font-variant: small-caps;
    text-align: justify;
	height: auto;
}

/*put font-color on links*/
.navbar li a{ 
    font-family: Hattori Hanzo;
    color: #fff !important;
}
/*hover color*/
.navbar-nav li a:hover, .navbar-toggle:hover {
    background-color: #D2B55B !important;
    color: #fff !important;
}
/* The active link */
.navbar-nav li.active a, .navbar-toggle:focus{
    color: #fff !important;
    background-color: #D2B55B  !important;
}
/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: #E4717A !important;
}
/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #D2B55B !important;
}
/*bgcolor of the dropdown-menu*/
.dropdown-menu{
    
	font-size: 1em;
    background-color: #E4717A;
}
/*position of search bar*/
.search-bar{
	padding: 0 5%;
}
/*width of search bar*/
nav .form-control{
	width: 340px!important ;
}