/***********\
*           *
*           *
*   fonts	*
*           *
*           *
\***********/
*{
	font-family: Segoe UI, impact;
}
/*set home navbut style, and when hovering*/
.home_navbut{
	color: #E4717A !important;
	
}
.home_navbut:hover, a:hover{
	color: #D2B55B !important;
	text-decoration: none;
}
/*font-size*/
h1{
	font-size: 13em;
}
h2{
	font-size: 1.9em;
}
h3{
	font-size: 1.5em;
}
.panel-body p{
	color: #000000 !important;
}

/***************\
*				*
*				*
*	Containers	*
*				*
*				*
\***************/
.container-fluid{
	border: 10px solid #E4717A ;
}

/*set size and style of container in page one of carousel*/
.box-container{
	border: 1px solid #E4717A;
	opacity: 0.8;
	background-color: #E4717A;
	color: #fff;
	padding: 5% 0% 5%;

}

/*col-sm-12 style*/
.col-sm-12{
	text-align: center;
	padding: 2%;
}

/***************************\
*							*
*							*
*	Buttons after header	*
*							*
*							*
\***************************/
#homnav .col-sm-4{
	padding: 0 2% 1%;
	display: block;
}
/*adjust search box*/
.input-group{
	width: 50%;
	margin-left: 25%;
}
/*dropdown*/
#homnav .dropdown-menu{
	padding: 0 25%;
}
/*font style of dropdown menu*/
#homnav .dropdown-menu li a{
	color: white; 
}
/*dropdown-menu style*/
#homnav .dropdown-menu li a:hover{
	background-color: transparent !important;
	color: #D2B55B !important;
}
/*toggle button style*/
.homenav{
	background-color: #E4717A;
}

/**************************\
*                          *
*                          *
*  "what's hot" container  *
*                          *
*                          *
\**************************/
.wHot{
	border: 10px solid #fff !important;
}
/*homepage background*/
.bg-red{
	background-color: #E4717A !important;
	color: #fff !important;
}
.wHot h2{
	font-size: 4em;
}

/***************************\
*							*
*							*
*	 Moving Box carousel	*
*							*
*							*
\***************************/
.boCa{
	border: 10px solid #fff !important;
}
.boCa h2{
	font-size: 3.5em;
}
.boca img{ 
	max-width:100%; 
}
.boCa a{
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
}
.boCa a:hover{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}
.boCa ul.thumbnails { 
    margin-bottom: 0px;
}
.boCa .col-sm-3{
	height: 365px;
}
.boCa .thumbnail{
	height: 295px;
}
.boCa .img-responsive{
	height: 285px;
}
.carousel-control{
        color: #000 !important;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 16px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 0px 0px;
        position: absolute;
        height: 30px;
        width: 15px;
        top: 40%;
		background: none !important;
}

