@font-face{
    font-family: Hattori Hanzo;
    src: url("/css/fonts/Hattori_Hanzo.otf") 
        format("opentype");
}

@font-face{
    font-family: Nevis;
    src: url("/css/fonts/nevis.ttf") 
        format("truetype");
}

/*********************************
*                                *
*                                *
*   default style of the header  *
*                                *
*                                *
*********************************/
.page-header{
	background-color: white !important;
	color: black !important;
	font-variant: small-caps;
	margin-top: 5% !important;
	font-size: 5em;
        font-family: Nevis;
}

.thumbnail {
    position:relative;
    overflow:hidden;
    
}
/*********************************
*                                *
*                                *
*   Style of the caption that    *
*   will appear on when hovering *
*                                *
*                                *
**********************************/
.caption {
    position:absolute;
    top:0;
    right:0;
    background:#D2B55B;
	opacity: 0.9;
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}
/*adjust search box*/
.input-group{
	width: 50%;
	margin-left: 25%;
}
/********************************************
*                                           *                                           
*                                           *
*   Size of the container of the products   *
*             for the images                *
*                                           *
********************************************/
.srch-img{
    height: 150px;
}
.srch-img img{
    height: 150px;
    max-width: 100% !important;
}
.col-md-3{
	height: 280px;
}
.col-md-3 img{
	max-width: 100% !important;
	height: 255px !important;
}
.branch-img{
    height: 653px;
}
.branch-img img{
    height: 600px !important;
    max-width: 100% !important;
}
.col-md-6{
    height: 260px;
}
.col-md-6 img{
    max-width: 100% !important;
    height: 248px !important;
}
/***********************************
*                                  *
*                                  *
* optimized buttons for error page *
*                                  *
*                                  *
************************************/
.go-back{
	display: block;
	margin-top: 10px;
	color: black;
	font-size: 1.2em;
}

.img-con{
    height: 440px;
}
.img-con img{
    height: 440px;
}

.styled-select select{
   
   background: transparent;
   width: 120px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}